.shop-wrapper {
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 60px;
}
.shop-wrapper a,
.shop-wrapper p {
  color: #737477;
}
.shop-wrapper h1,
.shop-wrapper h2,
.shop-wrapper h3,
.shop-wrapper h4,
.shop-wrapper h5,
.shop-wrapper h6 {
  color: #1a1919;
  font-weight: bold;
}
.shop-wrapper .shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.shop-wrapper .shop-container h2 {
  padding-top: 68px;
  padding-bottom: 40px;
  font-size: 44px;
  width: 1222px;
}
.shop-wrapper .shop-container .more-btn {
  border: 2px solid #fad50a;
  background-color: #fad50a;
  height: 48px;
  min-width: 200px;
  line-height: 48px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
  box-sizing: border-box;
  box-sizing: content-box;
}
.shop-wrapper .shop-container .more-btn:hover {
  background-color: #fff;
  color: #1a1919;
}
.merchandise-slider {
  width: 100%;
  padding-bottom: 50px;
}
