@import '../../assets/css/theme.less';

.slider-viewport{
    position: relative;
    overflow: hidden;

    &:hover .nav-btn{
        opacity: 1;
    }

    .slider-container{
        position: relative;
        display: flex;
        max-width: @main-container-max-width;
        margin: 0 auto;
        padding: 0px;
        transition: transform .3s ease-out;
    }
    
    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 48px;
        height: 64px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        padding: 0px;
        border: 0px;
        box-shadow: 0 16px 16px 0 rgba(0,30,60,.1);
        cursor: pointer;
        opacity: 0;
        transition: all .5s cubic-bezier(.35,0,0,1);

        &:hover{
            background-color: #e6e6e6;
        }

        &.previous{
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        &.next{
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            right: 0px;
        }
    }
}

.card-wrapper{
    flex: 0 0 auto;
    margin-right: 24px;

    &:first-of-type{
        margin-left: 64px;
    }
    
    &:last-of-type{
        margin-right: 64px;
    }
}

.one-forth-slider .card-wrapper{
    width: calc((99.99% - 104px)*.25 - 24px);
}

.one-third-slider .card-wrapper{
    width: calc((99.99% - 104px) * .333333333333333 - 24px);
}