.sponser-wrapper {
  background-color: #00162b;
  width: 100%;
}
.sponser-wrapper h1,
.sponser-wrapper h2,
.sponser-wrapper h3,
.sponser-wrapper h4,
.sponser-wrapper h5,
.sponser-wrapper h6,
.sponser-wrapper a,
.sponser-wrapper p {
  color: #fff;
  font-weight: bold;
}
.sponser-container {
  width: 1122px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponser-container h2 {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 5px;
  font-size: 22px;
  margin: 40px auto;
}
.sponser-container .sponser-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 40px;
}
.sponser-container .sponser-list a {
  margin: 0 1%;
  max-width: 20%;
}
.sponser-container .sponser-list img {
  width: 100%;
}
