.light-theme {
  background-color: #f8f8f8;
}
.light-theme a,
.light-theme div,
.light-theme p {
  color: #737477;
}
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: #1a1919;
}
