.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme a,
.dark-theme p {
  color: #fff;
  font-weight: bold;
}
.light-theme a,
.light-theme div,
.light-theme p {
  color: #737477;
}
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: #1a1919;
}
