@button-theme-color: #fad50a;
@dark-theme-bg-color: #00162b;
@light-theme-bg-color: #f8f8f8;

.dark-theme{
    h1, h2, h3, h4, h5, h6, a, p{
        color: #fff;
        font-weight: bold;
    }
}

.light-theme{

    a, div, p {
        color: #737477;
    }

    h1, h2, h3, h4, h5, h6{
        color: #1a1919;
    }
}