@import '../../common/css/theme';
@border-width:2px;

.nav-wrapper{
    background-color: @dark-theme-bg-color;
    overflow: hidden;  // enable BFC, make bg-color cover to all range
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    line-height: 42px;
    margin: 28px auto;
    border: 1px solid rgba(255,255,255,.1);
    background-color: rgba(0,22,43,.4);
    backdrop-filter: blur(6px);
    background-color: transparent;
    border-radius: 22px;

    .nav-tab{
        margin: -@border-width+1 0;
        color: #fff;
        font-weight: bold;
    }
    .active, .nav-tab:hover{
        border-bottom: @border-width solid #db0a40;
    }
}

.nav-sticky{
    position: fixed;
    top: 12px;
}