.global-footer-wrapper {
  background-color: #00162b;
}
.global-footer-wrapper h1,
.global-footer-wrapper h2,
.global-footer-wrapper h3,
.global-footer-wrapper h4,
.global-footer-wrapper h5,
.global-footer-wrapper h6,
.global-footer-wrapper a,
.global-footer-wrapper p {
  color: #fff;
  font-weight: bold;
}
.global-footer {
  max-width: 1350px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 50px 50px;
  font-size: 14px;
  display: flex;
}
.global-footer .footer-copyright {
  color: #a0a1a1;
  padding-top: 20px;
}
.global-footer .footer-copyright,
.global-footer .footer-nav,
.global-footer .footer-nav button {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}
.global-footer .footer-nav {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.global-footer .footer-nav a,
.global-footer .footer-nav button {
  padding: 20px 0 0 25px;
}
.global-footer .footer-nav a:hover,
.global-footer .footer-nav button:hover {
  text-decoration: underline;
}
.global-footer .footer-nav button {
  background-color: transparent;
  border: 0px;
  color: #fff;
  cursor: pointer;
}
