.dark-theme {
  background-color: #00162b;
}
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme a,
.dark-theme p {
  color: #fff;
  font-weight: bold;
}
.light-theme {
  background-color: #f8f8f8;
}
.light-theme a,
.light-theme p {
  color: #737477;
}
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: #1a1919;
  font-weight: bold;
}
.shop-card {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  width: calc((99.99% - 104px) * 0.33333333 - 24px);
  height: 100%;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin-right: 24px;
}
.shop-card:hover .item-img-link img {
  transform: scale(1.05);
}
.shop-card:hover .item-desc .shop-btn-container {
  opacity: 1;
}
.shop-card .item-img-link {
  display: block;
  border-radius: 8px 8px 0 0;
  background-color: #f2f2f2;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.shop-card .item-img-link img {
  width: 100%;
  transition: transform 0.6s cubic-bezier(0.35, 0, 0, 1);
}
.shop-card .item-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 102px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  padding: 24px;
}
.shop-card .item-desc .item-name {
  font-size: 18px;
  line-height: 1.16;
}
.shop-card .item-desc .item-gender {
  font-size: 14px;
  color: #b6b6b6;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}
.shop-card .item-desc .shop-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 102px;
  width: 100%;
  opacity: 0;
  background: rgba(248, 248, 248, 0.9);
  box-shadow: 0 16px 32px 0 rgba(0, 15, 30, 0.08);
  border-radius: 0 0 8px 8px;
  transition: opacity 0.2s ease-in;
}
.shop-card .item-desc .shop-now-link-btn {
  border: 2px solid #fad50a;
  background-color: #fad50a;
  height: 48px;
  min-width: 200px;
  line-height: 48px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
  box-sizing: border-box;
  box-sizing: content-box;
}
.shop-card .item-desc .shop-now-link-btn:hover {
  background-color: #fff;
  color: #1a1919;
}
