.dark-theme {
  background-color: #00162b;
}
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme a,
.dark-theme p {
  color: #fff;
  font-weight: bold;
}
.light-theme {
  background-color: #f8f8f8;
}
.light-theme a,
.light-theme p {
  color: #737477;
}
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: #1a1919;
  font-weight: bold;
}
.theme-btn {
  border: 2px solid #fad50a;
  background-color: #fad50a;
  height: 48px;
  min-width: 200px;
  line-height: 48px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  color: inherit;
}
.theme-btn:hover {
  background-color: #fff;
  transition: all 0.2s;
}
.story-slider-wrapper {
  padding: 100px 0;
}
.section-info {
  position: absolute;
  left: 64px;
  top: 0px;
}
.section-info .section-title {
  position: relative;
  font-size: 48px;
}
.section-info .section-title::before {
  content: '';
  position: absolute;
  left: -26px;
  top: 9px;
  bottom: 9px;
  width: 6px;
  height: auto;
  background-color: #db0a40;
}
.section-info .section-desc {
  font-size: 16px;
  line-height: 24px;
}
