.gallery-card {
  width: calc((99.99% + 24px)*0.875 - 24px);
}
.gallery-card:not(:last-child) {
  margin-right: 24px;
}
.gallery-card .img-container {
  padding-bottom: 16px;
  width: 640px;
}
.gallery-card .img-container img {
  width: 100%;
}
.gallery-card .img-title {
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 8px;
}
.gallery-card .img-copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
