.dark-theme {
  background-color: #00162b;
}
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme a,
.dark-theme p {
  color: #fff;
  font-weight: bold;
}
.light-theme {
  background-color: #f8f8f8;
}
.light-theme a,
.light-theme div,
.light-theme p {
  color: #737477;
}
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: #1a1919;
  font-weight: bold;
}
header.top-header {
  position: absolute;
  background-color: transparent;
  top: 16px;
  right: 16px;
  left: 24px;
  z-index: 999;
}
header.top-header .header-wrapper {
  position: sticky;
  top: 10px;
}
header.top-header .header-wrapper .side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.top-header .header-wrapper .side .left {
  display: flex;
  align-items: center;
}
header.top-header .header-wrapper .side .left .homepage-logo {
  margin-left: 16px;
}
header.top-header .header-wrapper .side .left .menu {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #b7b7b7;
  cursor: pointer;
}
header.top-header .header-wrapper .side .left .menu .menu-icon {
  width: 100%;
  height: 100%;
  filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(283deg) brightness(107%) contrast(105%);
}
header.top-header .header-wrapper .side .left .menu .hover-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
}
header.top-header .header-wrapper .side .left .menu:hover .hover-bg {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s;
}
header.top-header .header-wrapper .side .left .homepage-logo {
  height: 36px;
}
header.top-header .header-wrapper .side .right {
  display: flex;
}
header.top-header .header-wrapper .side .right .icon-wrapper {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  cursor: pointer;
}
header.top-header .header-wrapper .side .right .icon-wrapper img[class*="icon"] {
  display: block;
  width: 28px;
  height: 28px;
  filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(283deg) brightness(107%) contrast(105%);
}
header.top-header .header-wrapper .side .right .icon-wrapper .hover-bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%) scale(0.8);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
}
header.top-header .header-wrapper .side .right .icon-wrapper:hover .hover-bg {
  opacity: 1;
  transform: translate(-50%) scale(1);
  transition: all 0.3s;
}
header.top-header .header-wrapper .mid {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
  display: flex;
  justify-content: space-between;
}
header.top-header .header-wrapper .mid .tag-wrapper {
  position: relative;
  height: 36px;
}
header.top-header .header-wrapper .mid .tag-wrapper a {
  line-height: 36px;
  padding: 0 15px;
}
header.top-header .header-wrapper .mid .tag-wrapper a .hover-bg {
  position: absolute;
  width: 100%;
  height: 36px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transform: scale(0.8);
}
header.top-header .header-wrapper .mid .tag-wrapper a:hover .hover-bg {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s;
}
.top-header::after {
  content: '';
  display: block;
  height: 200px;
  width: 100%;
}
